{% extends "base.html" %}
{% comment %} heroku adjustment {% endcomment %}
{% comment %} {% load thumbnail %} {% endcomment %}
{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
  <h1>{{ user.get_full_name }}</h1>
  <div class="profile-info">
    {% comment %} heroku adjustment {% endcomment %}
    {% comment %} <img src="{% thumbnail user.profile.photo 180x180 %}" class="user-detail"> {% endcomment %}
    {% cloudinary user.profile.photo width=180 height=180 crop="fill" class="user-detail" %}
  </div>
  {% with total_followers=user.followers.count %}
    <span class="count">
      <span class="total">{{ total_followers }}</span>
      follower{{ total_followers|pluralize }}
    </span>
    {% if request.user not in user.followers.all %}
      <a href="#" data-id="{{ user.id }}" data-action="follow" class="follow button">
        Follow
      </a>
    {% else %}
      <a href="#" data-id="{{ user.id }}" data-action="unfollow" class="follow button">
        Unfollow
      </a>
    {% endif %}
    <div id="image-list" class="image-container">
      {% include "images/image/list_ajax.html" with images=user.images_created.all %}
    </div>
  {% endwith %}
{% endblock %}
{% block domready %}
  $('a.follow').click(function (e) { 
    e.preventDefault();
    $.post("{% url 'user_follow' %}",{
      id: $(this).data('id'),
      action: $(this).data('action')
    },
    function (data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow'
          );
          $('a.follow').text(
            previous_action == 'follow' ? 'Unfollow' : 'Follow'
          );
          var previous_followers = parseInt(
            $('span.count .total').text()
          )
          $('span.count .total').text(
            previous_action == 'follow' ?
              previous_followers + 1 : previous_followers - 1
          )
        }
      },
    )
  })
{% endblock %}